[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/Nuklear"]
	path = external/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "external/wil"]
	path = external/wil
	url = https://github.com/microsoft/wil
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
